@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-de-borda: rgba(255, 255, 255, 0.199);
    --cor-de-fundo: #171717;
    --fonte-principal: 'Segoe-UI', sans-serif;
    --cor-fonte: rgba(255, 255, 255, 0.877);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    gap: 50px;
}

.me {
    display: block;
    text-align: center;
}

.me h2 {
    padding: 10px 0px;
    font-weight: 600;
}

.me > p {
    padding-bottom: 10px;
}

.me-links {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 10px;
    display: flex;
}

p.me-text {
    display: inline-block;
    box-shadow: 4px 0px 8px 5px #81e6d929;
    background-color: #81E6D9;
    padding: 5px 26px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    color: black;
}

.profile-picture {
    width: 130px;
    border-radius: 50%;
}

.me-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.me-links > a {
    background-image: url(imagens/github-logo.png);
}

.me-links img {
    box-shadow: 1px 1px black;
}

.me-links-github img {
    width: 25px;
}

.about-me h1 {
    padding-bottom: 20px;
}

.about-me {
    max-width: 700px;
    text-align: justify;
}

#place-holder {
    margin-top: 70px;
    display: block;
    border-top: 1px solid var(--cor-de-borda);   
}